h2{display:block; font-size: 24px; text-align: center;color: #333;line-height: 50px;font-weight: 400;}
h4{font-size: 18px;color: #333;line-height: 24px;margin-bottom: 10px;font-weight: 400;}
p{display: block; width: 100%; text-align: center;line-height: 28px;color: #666;}

*{font-family: "微软雅黑"}
.clbtn1{display: inline-block;width: 164px;line-height: 44px; text-align: center;font-size: 15px; background: white;color: #F26C69; height: 44px;border-radius: 23px; font-size: 15px;float: left;margin-right:25px;position: absolute;top: 262px;left: 426px;border: 2px solid white;}
.clbtn1:hover{background:#F26C69;color: white; }
.clbtn2{display: inline-block;width: 164px;background: #F26C69;line-height: 44px; text-align: center; color: white; font-size: 15px; height: 44px;border-radius: 23px; font-size: 15px;float: left;margin-right:25px;position: absolute;top: 262px;left: 613px;border: 2px solid white;}
.clbtn2:hover{background: white;color:#F26C69 }



.banner{width: 100%;height: 540px; background:url(../img/bannerer.jpg)no-repeat center;background-size: cover;position: relative; padding-top: 97.5px;box-sizing:border-box ;}
.banner .banner_cotent{width: 1200px;height:345px;margin:  0 auto; background: url(../img/index.png)no-repeat center;background-size: 862px 345px;position: relative; }
.advantage{width: 100%;height: 692px; padding:60px 0; background: white; }
.advantage ul{width: 1200px; margin:0 auto;margin-top: 60px;}
.advantage ul li{width: 270px;height: 300px;text-align: center;float: left;padding: 0 15px;}
.advantage ul li img{width: 88px;height: 88px;margin: 30px auto;}



.star{width: 100%;padding-top:60px;padding-bottom: 40px;}
.star .starul1{width: 1200px;height: 400px; margin: 40px auto 0}
.star  li{width:240px;height: 370px;padding:0 15px;text-align: center;background: #fff;box-shadow:0 1px 3px 0 rgba(32, 33, 39, .12);transition: all 0.3s linear;margin: 0 15px;float: left;}
.star  li:hover{box-shadow:0 0 10px 2px rgba(32, 33, 39, .12);margin-top: -5px}
.star  li img{width: 110px;height: 110px; margin: 60px auto 30px;text-align: center;line-height: 110px;}
.star  li h4{font-size: 18px;color: #333;line-height: 24px;margin-bottom: 10px;font-weight: 400;margin-bottom: 24px}
.star  li p{font-size:14px; margin: 0 auto;color:#666;line-height: 26px;text-align: left;padding-left: 10px; }
.star  li .yincang{white-space: nowrap; text-overflow: ellipsis;overflow: hidden;}
.star .starul2{width: 1200px; height: 400px;margin: 0 auto 40px;text-align: center;}
.join{width: 100%;}
.join ul{width: 1200px;height: 360px; margin:  30px auto 60px;}
.join ul li {width: 310px;height: 360px;margin:0 15px; padding: 0 30px;float: left;text-align: center;background: #fff;box-shadow:0 1px 3px 0 rgba(32, 33, 39, .12) }
.join ul li img{width: 110px;height: 110px; margin: 60px auto 30px;text-align: center;line-height: 110px;}