*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #F5F5F5;
}
.box{
    width: 100%;
    box-sizing: border-box;

    /*height: 100%;*/
}
/*************************头部导航****************************/
header{
    width: 100%;
    height: 80px;
    /*position: relative;*/
    background: #FFFFFF;
    /*border: 1px solid pink;*/
    position: fixed;
    z-index: 99;
}
nav{
    width: 1156px;
    height: 80px;
    margin: 0 auto;
    /*border: 1px solid pink;*/
    display: flex;
    /*box-sizing: border-box;*/
    /*color: #333333;*/
    font-size: 14px;

}
nav .main li a{
    color: #333333;
}


/*************************头部左边****************************/

nav .left{
    flex: 2;
    padding-top: 15px;
    padding-left: 20px;
}
nav .main{
    position: relative;
    flex: 5;
    display: flex;
    text-align: center;
}
nav .main .chana{
    position: relative;
    flex: 1;
    line-height: 80px;
}

.chana:hover a{
    color:#F8B600;
}
nav .main .chanp:nth-child(2){
    background: url("../img/14170702vg5m.png") no-repeat 90px 40px!important;
}
nav .main .chanp:nth-child(2):hover{
    background: url("../img/14184120m50z.png") no-repeat 90px 40px!important;
}

nav .main .chana:nth-child(6){
    margin: 0 -76px;
    color: #E1E1E1;
}
/*************************头部二级导航****************************/
.main_nav2{
    position: absolute;
    width: 1160px;
    display: flex;
    height: 234px;
    padding: 20px;
    background: #FFFFFF;
    left: -446px;
    box-shadow:0px -2px 4px 0px #EAEAEA;
}


.main_nav201{
    display: none;
}

nav .main .chanp:nth-child(2):hover .main_nav201{
    display: block;
    /*transform: translateY(0px);*/
    transition:height 0.4s ease-in-out;
}


.main_nav2_01,.main_nav2_02,.main_nav2_03{
    flex: 1;
    position: relative;
    display: flex;
}
.shangcheng,.o2o,.fangan{
    flex: 1;
    display: flex;
    flex-direction:column;

}


.mn01,.mn02,.mn03{
    flex: 1;
    /*border: 1px solid pink;*/
    line-height: 19px;
    text-align: left;
    position: relative;
    border-radius: 20px;
}
.mn01:hover,.mn02:hover,.mn03:hover{
    background: #F5F5F5;
}

.main_nav2 .ico01{
    position: relative;
    top:8px;
    left: 80px;
    font-size: 14px;
    /*color: #999999;*/
}

.main_nav2 .iconfont{
    font-size: 45px;
    position: relative;
    top: 28px;
    left: 32px;

}
.shangcheng>.mn01>span:nth-child(1){
    color: #FF7673;
}
.shangcheng>.mn02>span:nth-child(1){
    color: #FCC849;
}
.shangcheng>.mn03>span:nth-child(1){
    color: #518BE3;
}

.o2o>.mn01>span:nth-child(1){
    color: #518BE3;
}
.o2o>.mn02>span:nth-child(1){
    color: #7275F4;
}
.o2o>.mn03>span:nth-child(1){
    color: #FF9354;
}

.fangan>.mn01>span:nth-child(1){
    color: #77C5EE;
}
.fangan>.mn02>span:nth-child(1){
    color: #77C5EE;
}

.span02{
    position: relative;
    right: 44px;
    color: #333333;
}




/*************************头部右边****************************/

nav .right{
    flex: 1;
    line-height: 80px;
}
.right li {
    /*padding: 10px 30px;*/
    display: inline-block;
    border-radius:10px;
    width: 100px;
    height: 36px;
    background: #F8B600;
    line-height: 36px;
    text-align: center;

}
.right li a{
    color: #FFFFFF;
}
.right li:hover{
    background: #F89800;
}

/*-----------------------------------------头部背景-----------------------------------------------*/

.title01_sx{
    width: 100%;
    height: 500px;
    position: relative;
    background: url("../img/food60_285e90a.png")no-repeat;

    background-size:cover;

    top:80px;
}


.title01_sx img:nth-child(1) {
    height: 280px;
    position: absolute;
    top: 70px;
    left: 201px;
}

/*----------------------------------------精选案例-----------------------------------------------*/

.food_03{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top:140px;
    /*top: 610px;*/

}

.title02_sxp{
    width: 1200px;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
    top:125px;
    color: #333333;
}

.title03_sxp{
    width: 1200px;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
    color: #333333;
    /*top:125px;*/
}

.fooddiv3 {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    overflow: hidden;
    background: url("../img/food61_0535b39.png");
    background-size: 100% 500px;

}
.fooddiv2{
    width: 100%;
    height: 140px;
    position: relative;
    box-sizing: border-box;
    bottom: -360px;
    background: #000000;
    background: rgba(2,2,2, .6);
    /*border: 1px  solid;*/
    text-align: center;
}

.fooddiv2_h201{
    color: #E2E9DA;
    font-size: 25px;
    position: relative;
    font-weight: normal;
    letter-spacing: 2px;
    top: 20px;

}

.fooddiv2_p02{
    color: #E2E9DA;
    font-size: 25px;
    position: relative;
    top: 50px;
    left: 416px;
}

.fooddiv2_he{
    width: 100%;
    height: 500px;
    background: #ffffff;
    position: absolute;
    top:0px;
    display: none;
}

.fooddiv2_he01{
    width: 59%;
    height: 500px;
    float: left;
    /*border: 1px solid;*/

}
.fooddiv2_he01_01{
    width: 120px;
    height: 120px;
    position: relative;
    left: 100px;
    top: 50px;
}
.fooddiv2_he01_01 img{
    max-width: 100%;
    max-height: 100%;
}

.fooddiv2_he01_02{
    width: 73%;
    position: relative;
    top:80px;
    margin: 0 auto;
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 2px;
}

.fooddiv2_he01_02 a{
    color: #F8B600;
    position: relative;
    top:30px
}


.fooddiv2_he02{
    width: 40%;
    height: 500px;
    float: right;
    /*border: 1px solid;*/


}
.fooddiv2_he02 p{
    width: 80px;
    font-size: 18px;
    position: relative;
    left: 15px;
    margin: 0 auto;
    top:210px;
    color: #333333;
}

.fooddiv2_he02_img02{
    width: 120px;
    height: 120px;
    position: relative;
    /*line-height: 30px;*/
    top: 200px;
    /*margin: 0 auto;*/
    /*border-radius: 6px;*/
    /*box-shadow:0px 0px 2px 3px #EAEAEA;*/

}

.fooddiv2_he02_img02 .iconfont{
    font-size: 20px;
    color:#F8B600;
}
.fooddiv2_he02_img02 a{
    position: relative;
    left: 10px;
    top:-2px;
    font-size: 14px;
    color:#F8B600;
}

.fooddiv2_he02_img02 img{
    max-height: 100%;
    max-width: 100%;
}

.food_03:hover .fooddiv2_he{
    display: block;
    animation: move01 0.7s linear;
}
@keyframes move01 {
    0%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0px);
    }
}





.food_04{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top:168px;
    /*top: 610px;*/

}

.title02_sxp{
    width: 1200px;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
    top:125px;
    color: #333333;
}


.fooddiv4{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    overflow: hidden;
    background: url("../img/food62_bf62358.png");
    background-size: 100% 500px;

}
.fooddiv5{
    width: 100%;
    height: 140px;
    position: relative;
    box-sizing: border-box;
    bottom: -360px;
    background: #000000;
    background: rgba(2,2,2, .6);
    /*border: 1px  solid;*/
    text-align: center;
}

.fooddiv5_h201{
    color: #E2E9DA;
    font-size: 25px;
    position: relative;
    font-weight: normal;
    letter-spacing: 2px;
    top: 20px;

}

.fooddiv5_p02{
    color: #E2E9DA;
    font-size: 25px;
    position: relative;
    top: 50px;
    left: 416px;
}

.fooddiv5_he{
    width: 100%;
    height: 500px;
    background: #ffffff;
    position: absolute;
    top:0px;
    display: none;
}

.fooddiv5_he01{
    width: 59%;
    height: 500px;
    float: left;
    /*border: 1px solid;*/

}
.fooddiv5_he01_01{
    width: 120px;
    height: 100px;
    position: relative;
    left: 100px;
    top: 48px;
}
.fooddiv5_he01_01 img{
    max-width: 100%;
    max-height: 100%;
}

.fooddiv5_he01_02{
    width: 73%;
    position: relative;
    top:90px;
    margin: 0 auto;
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 2px;
}

.fooddiv5_he01_02 a{
    color: #F8B600;
    position: relative;
    top:30px
}


.fooddiv5_he02{
    width: 40%;
    height: 500px;
    float: right;
    /*border: 1px solid;*/


}

.fooddiv5_he02_img02{
    width: 120px;
    height: 120px;
    position: relative;
    top: 190px;
    /*left: 100px;*/

}

.fooddiv5_he02_img02 img{
    max-height: 100%;
    max-width: 100%;
}

.food_04:hover .fooddiv5_he{
    display: block;
    animation: move01 0.7s linear;
}
@keyframes move01 {
    0%{
        transform: translateY(500px);
    }
    100%{
        transform: translateY(0px);
    }
}



/*------------------------------------------更多案例-----------------------------------------------*/

.title03_sx{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 212px;
    /*box-sizing: border-box;*/
    /*overflow: hidden;*/
}

.ti03_01{
    width: 100%;
    height: 480px;
    /*border: 1px solid;*/
    position: relative;
    box-sizing: border-box;
    /*overflow: hidden;*/
    margin-top: 20px;
    display: flex;
}

.ti03_img01,.ti03_img02,.ti03_img03{
    flex: 1;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background: #ffffff;
}
.ti03_img03, .ti03_img02{
    background: #F5F5F5;
}
.ti03_img02{
    margin: 0 50px;
}
.ti03_img01 img,.ti03_img02 img,.ti03_img03 img{
    max-width: 100%;
    max-height: 50%;
}
.ti03_01_01{
    width: 100%;
    height:100%;
    background: #ffffff;
    position: absolute;
    top:228px;
}
.ti03_img01:hover .ti03_01_01{
    transform: translateY(-228px);
    transition:0.5s;
}
.ti03_img02:hover .ti03_01_01{
    transform: translateY(-228px);
    transition:0.5s;
}
.ti03_img03:hover .ti03_01_01{
    transform: translateY(-228px);
    transition:0.5s;
}
.ti03_01 h4{
    font-weight: normal;
    font-size: 14px;
    color: #333333;
}
.ti03_01 p{
    font-size: 12px;
    color: #333333;
    line-height: 20px;
    letter-spacing: 1px;
    position: relative;
    top:25px
}
.ti03_01 a{
    font-size: 12px;
    position: relative;
    top:30px;
    color: #F8B600;

}
.ti03_top01{
    height: 50%;
    width: 85%;
    margin: 0 auto;
    /*border: 1px solid;*/
    position: relative;
    top:30px;
}
.ti03_bottom01{
    height: 42%;
    width: 85%;
    margin: 0 auto;
    /*border: 1px solid;*/
    position: relative;
    top:30px;
}
.ti03_bottom01left{
    width: 50%;
    height: 100%;
    float: left;
    position:relative;

}
.ti03_bottom01left img{
    position: relative;
    top: 50px;
}
.ti03_bottom01right img{
    position: relative;
    top: 50px;

}
.ti03_bottom01right{
    width: 50%;
    height: 100%;
    float: left;
    position:relative;
    text-align: right;
}





/*------------------------------------------底部-------------------------------------*/
.f_bottom{
    width: 100%;
    height: 276px;
    background:#373D44;
    position: relative;
    top: 300px;

}

.footer_b{
    width: 1184px;
    height: 196px;
    border-bottom: 1px solid #4B4F55;
    margin: 0 auto;
    display: flex;
}
.f_bottom01,.f_bottom02,.f_bottom03{
    /*border: 1px solid red;*/
    flex: 1;
    padding-top: 50px;

}
.f_bottom04{
    border: 1px solid red;
    flex: 3;
}
.f_one{
    font-size:16px ;
    color: #EBEBEB;
    font-weight: normal;
    position: relative;
    left: 84px;

}

.ful01 li,.ful02 li,.ful03 li{
    position: relative;
    top:10px;
    left: 12px;
    margin: 3px 0;
    font-size: 13px;
    left: 84px;
}

.ful01 li a,.ful02 li a{
    color:#CCCCCC;
}
.ful01 li a:hover,.ful02 li a:hover{
    color: #FFFFFF;
}

.quanyuan{
    position: relative;
    left:9px ;
}

.ful03 li{
    color: #CCCCCC;
}
.f_bottom03{
    text-align: center;
}

.f_bottom03 img{
    max-width: 30%;
    max-height: 30%;

}
.f_bottom03 p{
    font-size: 13px;
    position: relative;
    top:10px;
    color:#CCCCCC;
}


.f_t{
    position: relative;
    text-align: center;
    top:30px;
    font-size: 13px;
    color: #999999;
}





tishi{
    width: 100%;
    text-align: right;

}


.tishi01{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFF;
    position: fixed;
    top:279px;
    bottom: -160px;
    z-index: 9999;
    text-align: center;
    right: 5px;
}

.tishi01 img{
    max-width: 90%;
    animation: move02 5s linear 3s infinite;
}
@keyframes move02 {
    0%{
        transform:  rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.tishi01 p{
    width: 30px;
    height: 98px;
    position: relative;
    left: 14px;
    top:-6px;
    background: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    color: #333333;
}
.tishi01 p:hover{
    color:#F8B600 ;
}


/*****************************************在线咨询****************************************/
tishi{
    width: 100%;
    text-align: right;

}


.tishi01{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFF;
    position: fixed;
    top:279px;
    bottom: -160px;
    z-index: 9999;
    text-align: center;
    right: 5px;
}

.tishi01 img{
    max-width: 90%;
    animation: move02 5s linear 3s infinite;
}
@keyframes move02 {
    0%{
        transform:  rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.tishi01 p{
    width: 30px;
    height: 98px;
    position: relative;
    left: 14px;
    top:-6px;
    background: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    color: #333333;
}
.tishi01 p:hover{
    color:#F8B600 ;
}


.clear{
    clear: both;
}

